.right-bubble.bubble(ng-show='adCycle == 0')
  .ad-row
    iframe(style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=pres058-20&marketplace=amazon&region=US&placement=B00466HM28&asins=B00466HM28&linkId=WL76VT2BR47KG4LP&show_border=true&link_opens_in_new_window=true")
    iframe(style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=pres058-20&marketplace=amazon&region=US&placement=B00E8CEW7I&asins=B00E8CEW7I&linkId=W3YNQDPZOBM6TMOD&show_border=true&link_opens_in_new_window=true")
  .ad-row
    iframe(style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=pres058-20&marketplace=amazon&region=US&placement=0240815807&asins=0240815807&linkId=ZO3W4AW4WTJLPB56&show_border=true&link_opens_in_new_window=true")
    iframe(style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=pres058-20&marketplace=amazon&region=US&placement=B00MAQNAPY&asins=B00MAQNAPY&linkId=YOUK4IR3EJLVHV7H&show_border=true&link_opens_in_new_window=true")
  h4 Gear
  button.btn.btn-info(ng-click='adCycle = 1') See next four 
    span.glyphicon.glyphicon-arrow-right

.right-bubble.bubble(ng-show='adCycle == 1')
  .ad-row
    iframe(style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=pres058-20&marketplace=amazon&region=US&placement=B00BQ6KSN6&asins=B00BQ6KSN6&linkId=UBDLZLL5WGUXWMDF&show_border=true&link_opens_in_new_window=true")
    iframe(style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=pres058-20&marketplace=amazon&region=US&placement=B00015H0X4&asins=B00015H0X4&linkId=QNTDOOAFV5GKKBSO&show_border=true&link_opens_in_new_window=true")
  .ad-row
    iframe(style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=pres058-20&marketplace=amazon&region=US&placement=B00N1YQMBI&asins=B00N1YQMBI&linkId=DKIQVORLFSPFUHL3&show_border=true&link_opens_in_new_window=true")
    iframe(style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=pres058-20&marketplace=amazon&region=US&placement=B00EO5Q6L4&asins=B00EO5Q6L4&linkId=CUIWC52UI4ECHDIN&show_border=true&link_opens_in_new_window=true")
  h4 Gear
  button.btn.btn-info(ng-click='adCycle = 2') See next four 
    span.glyphicon.glyphicon-arrow-right

.right-bubble.bubble(ng-show='adCycle == 2')
  .ad-row
    iframe(style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=pres058-20&marketplace=amazon&region=US&placement=128542087X&asins=128542087X&linkId=S2ODMBOMHMP3RHPW&show_border=true&link_opens_in_new_window=true")
    iframe(style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=pres058-20&marketplace=amazon&region=US&placement=B0002H0GF0&asins=B0002H0GF0&linkId=EOAU4THHYVGEGLW6&show_border=true&link_opens_in_new_window=true")  
  .ad-row
    iframe(style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=pres058-20&marketplace=amazon&region=US&placement=B0006NL5SM&asins=B0006NL5SM&linkId=5LGUUNOJMZHF3HP5&show_border=true&link_opens_in_new_window=true")
    iframe(style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=pres058-20&marketplace=amazon&region=US&placement=B005OZE9SA&asins=B005OZE9SA&linkId=5BEUKGRNTBXRWELQ&show_border=true&link_opens_in_new_window=true")
  h4 Gear
  button.btn.btn-info(ng-click='adCycle = 0') See next four 
    span.glyphicon.glyphicon-arrow-right
