html(ng-app="scotchTodo")
  head
    title!= title
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="style.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
    script(src="core.js")
  body(ng-controller="mainController")
    #app-container
      #container-tabs
        a.tab(href='#search') Search
        a.tab(href='#library') Library
        a.tab(href='#upload') Upload
        a.tab(href='#settings') (_)
      #view(ng-view)