html(ng-app="scotchTodo")
  head
    title!= title
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="style.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
    script(src="core.js")
  body(ng-controller="mainController")
    #app-container
      #container-tabs
        a.tab(ng-click='goTo("/search")') Search
        a.tab(ng-click='goTo("/library")' ng-show='user.username') Library
        a.tab(ng-click='goTo("/login")' ng-show='!user.username') Login or Sign Up!
        a.tab(ng-click='goTo("/upload")') Upload
        a.tab(ng-click='goTo("/settings")') (_)
      #view(ng-view)