html(ng-app="scotchTodo")
  head
    title!= title
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="style.css")
    // Uncomment when live
    script(src='googleAnalytics.js')
    script(src='mixpanel.js')
    script(src='tawk.js')
    script(src='//connect.soundcloud.com/sdk.js')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
    script(src="core.js")
    script(src='directives/searchDirective.js')
    script(src='controllers/mainController.js')
    script(src='controllers/loginController.js')
    script(src='controllers/libraryController.js')
    script(src='controllers/searchController.js')
    script(src='controllers/settingsController.js')
    script(src='controllers/uploadController.js')
    script(src='controllers/profileController.js')
  body(ng-controller="mainController")
    img#logo(src='/images/logo.png')
    #app-container
      ul#container-tabs.nav.nav-tabs
        li.search-tab(ng-class='getTabClass(0)' ng-click='activeTab = 0')
          a.tab(ng-class='getHighlight(0)' ng-click='goTo("/search")') Search {{presetCount}} presets
        li.library-tab(ng-class='getTabClass(1)' ng-click='activeTab = 1')
          a.tab(ng-class='getHighlight(1)' ng-click='goTo("/library")' ng-show='user.username') Library
          a.tab(ng-class='getHighlight(1)' ng-click='goTo("/login")' ng-show='!user.username') Login or Sign Up!
        li.upload-tab(ng-class='getTabClass(2)' ng-click='activeTab = 2')
          a.tab(ng-class='getHighlight(2)' ng-click='goTo("/upload")') Upload
        li.settings-tab(ng-class='getTabClass(3)' ng-click='activeTab = 3')
          a.tab(ng-class='getHighlight(3)' ng-click='goTo("/settings")')
            span.glyphicon.glyphicon-cog
      #view(ng-view)

    .left-bubble.bubble
      h4 User of the Day
      .playback-control-container
        img.graphic(ng-src='{{artist.image}}' ng-mouseenter='hovering=true')
        .controls(ng-show='hovering || !clicked' ng-mouseleave='hovering=false')
          .center
            span.control-button.glyphicon.glyphicon-play-circle(ng-show='!clicked || !playing' ng-click='play()')
            span.control-button.glyphicon.glyphicon-stop(ng-show='playing' ng-click='stop()')
      h6 Artist name - 
      h2 {{artist.name}}
      h6 Track title - 
      h2 {{artist.trackTitle}}
      .border
      h5(ng-show='artist.collab') Looking to collab? Contact artist:
      .info.btn.btn-info(ng-click='goTo("/profile/"+artist._id)')
        span.glyphicon.glyphicon-envelope
      .border
      h5 Want <strong>your</strong> work here? Find how:
      a.info.btn.btn-info(href='/faq')
        span.glyphicon.glyphicon-question-sign

    //include ./ad.jade
    //include ./note.jade
    #faq
      a(href='/faq') About PresetBay
    #news
      h4 Luke: Now supporting Sylenth1!! Serum, Harmor, and others coming soon...

