.signup-library-view
  .section
    h1 Sign Up
    form(ng-submit='createUser(formData.newUser, formData.newPassword)')
      input.form-control(type='text' placeholder='New username' ng-model='formData.newUser')
      input.form-control(type='password' placeholder='New password' ng-model='formData.newPassword')
      input.btn.btn-success.submit(type='submit' value='Create account')
  .section
    h1 Login
    form(ng-submit='login(formData.user, formData.password)')
      input.form-control(type='text' placeholder='Username' ng-model='formData.user')
      input.form-control(type='password' placeholder='Password' ng-model='formData.password')
      input.btn.btn-primary.submit(type='submit' value='Login')