ng-search(option='searchOption' update-results='updateResults(userName, presetName, tags, fileType)')
#search-viewer
  .result-container(ng-repeat='user in searchedUsers' ng-show='searchOption == 0')
    .result {{user.username}} {{user.downloads.length}} {{user.uploads.length}}
  .result-container(ng-repeat='preset in searchedPresets' ng-show='searchOption != 0')
    .result {{patch.name}} {{patch.fileType}}