body {
  position: relative;
  height: 100%;
  width: 820px;
  margin: 0 auto;
  background-image: radial-gradient(circle, #7db9e8 0%, #2989d8 33%, #17577b 62%);
}
body #faq-page {
  width: calc(100% - 64px);
  background-color: #fff;
  padding: 18px 50px;
  border-radius: 11px;
  opacity: 0.8;
  margin: 32px;
}
body #faq-page img {
  height: 20px;
}
