@footer-color: #fff;
@background-color: #444;
@container-color: #fff;
@border-color: #E0FFFF;
@footer-height: 39px;

body {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: @background-color;
  padding-top: 50px;
  min-width: 980px;

  #app-container {
    z-index: 2;
    width: 480px;
    height: 470px;
    //display: flex;
    //align-self: center;
    margin: 0 auto 0 auto;
    background-color: @container-color;
    border-radius: 4px;
    //border: 1px solid @border-color;

    #container-tabs {
      width: 100%;
      cursor: pointer;
      //height: 48px;

      // .tab {
      //   display: inline-block;
      //   width: 25%;
      //   height: 100%;
      //   border: black 1px solid;
      // }

      a {
        height: 42px;
      }

      .search-tab {
        width: 43%;
      }

      .library-tab {
        width: 30%;
      }

      .upload-tab {
        width: 17%;
      }

      .settings-tab {
        width: 10%;
      }

      .highlighted {
        background-color: #3276b1;
        color: #fff;
      }
    }

    #view {
      height: 422px;
      width: 100%;
    }
  }
}

#search-container {
  height: 34px;
  width: 100%;
  //border: black 1px dashed;

  .search-area {
    width: 50%;
    height: 100%;
    display: inline-block;

    .user-search {
      width: 100%;
      display: inline-block;
    }

    .preset-search {
      width: 100%;
      display: inline-block;
    }

    .preset-tag {
      width: 33%;
      display: inline-block;
    }

    .hidden-submit {
       position: absolute;
       left: -9999px;
       width: 1px;
       height: 1px;
    }
  }

  select {
    width: 15%;
    display: inline-block;
  }

  .option-select {
    width: 35%;
    // height: 100%;
    display: inline-block;

    // div {
    //   width: 33%;
    //   display: inline-block;
    // }
  }
}

.signup-library-view {
  width: 100%;
  height: 100%;

  .section {
    width: 40%;
    margin: 5%;
    height: 90%;
    display: inline-block;

    .submit {
      float: right;
    }
  }

  input {
    margin-bottom: 10px;
  }

}

.search-viewer {
  height: 394px;
  width: 100%;
  //border: blue 1px dashed;
  overflow-y: scroll;

  .result-container {
    width: 100%;
    cursor: pointer;
    
    .link {
      display: inline-block;
    }

    p {
      display: inline-block;
    }

  }
}

table {
  width:100%;
  //border:solid 1px red;
  table-layout:fixed;
}

.user-table {
  width: 100%;

  td {
    font-size: 12px;

    .top {
      top:4px;
    }
  }

  .name {
    width: 21.6%;
  }

  .type {
    width: 9.5%;
  }

  .tags {
    width: 31.6%;
  }

  .author {
    width: 20.4%;
    cursor: pointer;
  }

  .dlC {
    width: 8.3%;
  }

  .dllink {
    width: 8.3%;
  }
}

#upload-view {
  width: 100%;
  height: 100%;


  .upload-section {
    height: 16%;
    width: 80%;
    margin: 6.5% 10%;

    .tag {
      width: 100px;
      margin: 0 10px;
    }

    .checkbox {
      display: inline-block;
      margin: 0 10px 0 0;
    }

    label {
      display: inline;
      margin: 0 10px 0 0;
    }
  }

  .small {
    height: 10%;

    a {
      float: right;
      margin-right: 36px;
    }
  }

  .button {
    margin: 6.5% 0 0 10%;
    height: 5%;
  }

  .read-out {
    margin: 0 10%;
  }
  
}

#profile-container {
  width: 100%;
  height: 100%;

  .profile-header {
    width: 100%;
    height: 42px;
    border-bottom: solid 1px #EDD;
    border-left: solid 1px #edd;

    .profile-nav-container {
      width: 40%;
      height: 42px;
      display: inline-block;

      .name-container {
        position: relative;
        top: -32%;
        margin-left: 11px;
      }
    }

    .profile-tabs {
      width: 60%;
      display: inline-block;
      cursor: pointer;
      //height: 30px;

      .tab {
        width: 33%;
      }
    }
  }

  #profile-info {
    overflow-y: scroll;
    height: 392px;

    .profile-data {
      height: 392px;
      width: 100%;
    }

    .info {
      padding: 30px;
    }
  }
}

.search-highlight {
  background-color: #3276b1;
}

// .active {
//   background-color: #3276b1;
// }

.settings-info {
  width: 100%;
  height: 100%;

  .profile-button {
    margin: 22px 10%;
    width: 80%;
  }

  textarea {
    width: 80%;
    height: 80px;
    margin: 0 10%;
  }

  .links {
    width: 80%;
    margin: 51px 10% 0 10%;

    .link-area {
      width: 50%;
      height: 100px;
      display: inline-block;
      vertical-align: top;

      input {
        width: 100%;
      }

      p {
        height: 20%;
        margin: 0;
      }

      .add-link {
        margin: 0;
      }

      .link-scroll-container {
        height: 80%;
        overflow-y: scroll;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        .link {
          height: 32px;
        }
      }
    }

    button {
      float: right;
      margin-right: 10px;
    }
  }

  .save-discription {
    display: block;
    float: right;
    margin-right: 10%;
  }

  .logout {
    margin-right: 6px;
    float: right;
    margin-top: 79px;
  }
}

tbody {
  tr:nth-child(odd) {
    td {
      background-color: #f6fbff;
    }
  }
}

.bubble {
  height: 225px;
  width: 200px;
  background-color: @footer-color;
  position: fixed;
  bottom: @footer-height;

  h4 {
    margin: 2px 0 4px 29px;
  }


  .playback-control-container {
    position: relative;
    width: 200px;
    height: 200px;

    .graphic {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .controls {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      background-color: #000;
      cursor: pointer;

      .center {
        height: 50px;
        width: 50px;
        margin: 75px 75px 75px 75px;

        .control-button {
          font-size: 50px;
          color: #fff;
        }
      }
    }
  }
}

.right-bubble {
  right: 0;
  top: 0;
  z-index: -1;
  border-bottom-left-radius: 5px;
  background-color: #eee;
}

.left-bubble {
  left: 0;
  border-top-right-radius: 5px;
  //border: 1px solid @border-color;
}

#footer-container {
  position: fixed;
  bottom: 0;
  //width: 100%;
  height: @footer-height;
  background-color: @footer-color;
  padding: 0 15px;
  border-top-right-radius: 5px;
  //border: 1px solid @border-color;

  h4 {
    display: inline-block;
  }

  .info {
    display: inline-block;
    margin: 0 0 0 10px;
    height: 27px;
    padding-top: 2px;
  }
}