@color1: #eee;
@color2: #fff;
@color3: #ddd;

body {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: @color1;

  #app-container {
    width: 480px;
    height: 470px;
    margin: 50px auto 0 auto;
    background-color: @color2;

    #container-tabs {
      width: 100%;
      height: 48px;

      .tab {
        display: inline-block;
        width: 25%;
        height: 100%;
        border: black 1px solid;
      }
    }

    #view {
      height: 422px;
      width: 100%;
    }
  }
}

#search-container {
  height: 34px;
  width: 100%;
  border: black 1px dashed;

  .search-area {
    width: 50%;
    height: 100%;
    display: inline-block;

    .user-search {
      width: 100%;
      display: inline-block;
    }

    .preset-search {
      width: 100%;
      display: inline-block;
    }

    .preset-tag {
      width: 33%;
      display: inline-block;
    }

    .hidden-submit {
       position: absolute;
       left: -9999px;
       width: 1px;
       height: 1px;
    }
  }

  select {
    width: 15%;
    display: inline-block;
  }

  .option-select {
    width: 35%;
    height: 100%;
    display: inline-block;

    div {
      width: 33%;
      display: inline-block;
    }
  }
}

.signup-library-view {
  width: 100%;
  height: 100%;

  .section {
    width: 50%;
    height: 100%;
    display: inline-block;
    border: black 1px solid;
  }

}

#search-viewer {
  height: 388px;
  width: 100%;
  border: blue 1px dashed;

  .user {
    width: 100%;
    height: 50px;
  }
}