@footer-color: #fff;
@background-color: #444;
@container-color: #fff;
@border-color: #E0FFFF;
@footer-height: 39px;

body {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(circle, #7db9e8 0%,#2989d8 33%,#17577b 62%);
  min-width: 980px;
  //display: table; // NEW
  display: flex;
  display: -webkit-flex; // for safari
  //-webkit-align-items: center;
  //align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  #logo {
    position: absolute;
  }

  #app-container {
    z-index: 2;
    width: 480px;
    //height: 470px;
    height: ~"calc(100% - 175px)";
    margin: 150px 0 25px 0;
    position: relative;
    background-color: @container-color;
    border-radius: 4px;

    #container-tabs {
      width: 100%;
      cursor: pointer;

      a {
        height: 42px;
      }

      .search-tab {
        width: 43%;
      }

      .library-tab {
        width: 30%;
      }

      .upload-tab {
        width: 17%;
      }

      .settings-tab {
        width: 10%;
      }

      .highlighted {
        background-color: #3276b1;
        color: #fff;
      }
    }

    #view {
      //height: 422px;
      width: 100%;
      height: ~"calc(100% - 42px)";
    }
  }
}

#search-container {
  height: 34px;
  width: 100%;
  //border: black 1px dashed;

  .search-area {
    width: 50%;
    height: 100%;
    display: inline-block;

    .user-search {
      width: 100%;
      display: inline-block;
    }

    .preset-search {
      width: 100%;
      display: inline-block;
    }

    .preset-tag {
      width: 33%;
      display: inline-block;
    }

    .hidden-submit {
       position: absolute;
       left: -9999px;
       width: 1px;
       height: 1px;
    }
  }

  select {
    width: 15%;
    display: inline-block;
  }

  .option-select {
    width: 35%;
    display: inline-block;
  }
}

.signup-library-view {
  width: 100%;
  height: 100%;

  .section {
    width: 40%;
    margin: 5%;
    height: 90%;
    display: inline-block;

    .submit {
      float: right;
    }
  }

  input {
    margin-bottom: 10px;
  }

}

.search-viewer {
  height: ~"calc(100% - 34px)";
  width: 100%;
  overflow-y: scroll;

  .result-container {
    width: 100%;
    cursor: pointer;
    
    .link {
      display: inline-block;
    }

    p {
      display: inline-block;
    }

  }
}

table {
  width:100%;
  table-layout:fixed;
}

.user-table {
  width: 100%;

  td {
    font-size: 12px;

    .top {
      top:4px;
    }
  }

  .name {
    width: 21.6%;
  }

  .type {
    width: 11.5%;
  }

  .tags {
    width: 31.6%;
  }

  .author {
    width: 20.4%;
    cursor: pointer;
  }

  .dlC {
    width: 8.3%;
  }

  .dllink {
    width: 8.3%;
  }
}

#upload-view {
  width: 100%;
  height: 100%;


  .upload-section {
    height: 16%;
    width: 80%;
    margin: 6.5% 10%;

    .tag {
      width: 100px;
      margin: 0 10px;
    }

    .checkbox {
      display: inline-block;
      margin: 0 10px 0 0;
    }

    label {
      display: inline;
      margin: 0 10px 0 0;
    }
  }

  .small {
    height: 10%;

    a {
      float: right;
      margin-right: 36px;
    }
  }

  .button {
    margin: 6.5% 0 0 10%;
    height: 5%;
  }

  .read-out {
    margin: 0 10%;
  }
  
}

#profile-container {
  width: 100%;
  height: 100%;

  .profile-header {
    width: 100%;
    height: 42px;
    border-bottom: solid 1px #EDD;
    border-left: solid 1px #edd;

    .profile-nav-container {
      width: 40%;
      height: 42px;
      display: inline-block;

      .name-container {
        position: relative;
        top: -32%;
        margin-left: 11px;
      }
    }

    .profile-tabs {
      width: 60%;
      display: inline-block;
      cursor: pointer;
      //height: 30px;

      .tab {
        width: 33%;
      }
    }
  }

  #profile-info {
    overflow-y: scroll;
    height: ~"calc(100% - 42px)";

    .profile-data {
      height: 100%;
      width: 100%;
    }

    .info {
      padding: 30px;
    }
  }
}

.search-highlight {
  background-color: #3276b1;
}

.settings-info {
  width: 100%;
  height: 100%;

  .profile-button {
    margin: 22px 10%;
    width: 80%;
  }

  textarea {
    width: 80%;
    height: 80px;
    margin: 0 10%;
  }

  .links {
    width: 80%;
    margin: 51px 10% 0 10%;

    .link-area {
      width: 50%;
      height: 100px;
      display: inline-block;
      vertical-align: top;

      input {
        width: 100%;
      }

      p {
        height: 20%;
        margin: 0;
      }

      .add-link {
        margin: 0;
      }

      .link-scroll-container {
        height: 80%;
        overflow-y: scroll;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        .link {
          height: 32px;
        }
      }
    }

    button {
      float: right;
      margin-right: 10px;
    }
  }

  .save-discription {
    display: block;
    float: right;
    margin-right: 10%;
  }

  .logout {
    margin-right: 6px;
    float: right;
    margin-top: 79px;
  }
}

tbody {
  tr:nth-child(odd) {
    td {
      background-color: #f6fbff;
    }
  }
}

.bubble {
  width: 240px;
  background-color: @container-color;
  position: fixed;

  h4 {
    margin: 2px 0 4px 0px;
    text-align: center;
  }

  h3 {

  }

  .playback-control-container {
    position: relative;
    width: 240px;
    height: 240px;

    .graphic {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .controls {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background-color: #000;
      cursor: pointer;

      .center {
        height: 115px;
        width: 115px;
        margin: 58px;

        .control-button {
          font-size: 115px;
          color: #fff;
        }
      }
    }
  }
}

.right-bubble {
  right: 0;
  top: 0;
  z-index: 3;
  border-bottom-left-radius: 5px;
  height: 507px;

  .ad-row {
    width: 100%;
    height: 240px;

    iframe {
      display: inline-block;
    }
  }

  button {
    padding-top: 3px;
    width: 75%;
    height: 26px;
  }

  h4 {
    display: inline-block;
    width: 25%;
    text-align: center;
  }
}

.left-bubble {
  left: 0;
  bottom: 0;
  border-top-right-radius: 5px;

  .info {
    width: 17%;
    font-size: 16px;
    display: inline-block;
    float: right;
    margin-right: 4px;
  }

  .border {
    width: 100%;
    height: 1px;
    background-color: #eee;
    margin-bottom: 4px;
  }

  h4 {
    width: 91%;
    display: inline-block;
    margin: 2px 0px 4px 6px;
  }

  h2 {
    background-color: #17577b;
    color: #fff;
    margin-top: 1px;
    padding-bottom: 5px;
    padding-top: 3px;

  }

  h5 {
    display: inline-block;
    margin-right: 5px;
    font-size: 12px;
  }

  h6 {
    margin-bottom: 2px;
  }

  h1, h2, h3, h5, h6 {
    padding-left: 5px;
  }
}

#faq {
  position: absolute;
  right:0;
  top:0;
  background-color: #fff;
  border-bottom-left-radius: 5px;

  a {
    margin: 9px;
    font-size: 18px;
    //color: #000;
  }
}

#news {
  padding: 0 8px;
  max-width: 26%;
  border-radius: 5px;
  border: dashed 1px whitesmoke;
  background-color: #ffc47c;
  position: absolute;
  top: 10px;
  left: 10px;
}

.gear-loader {
  margin: 113px 171px;
}